.landingPageContainer{
  height: 100vh;
  width: 100vw;
  background: url("/background.png");
  background-repeat: no-repeat;
  background-size: cover;
  color: white;
}

/*!Landing Navbar */
.navContainer{

  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-inline: 2rem;
  padding-block: 1.7rem;
  cursor: pointer;
}
.navContainer .navItem , .navLogo{
  text-decoration: none;
  color: white;
  font-weight: bold;
}
.navContainer .navLogo{
  font-size: 2rem;
  font-weight: 600;
}
#loginBtn{
  background-color: #D97500;
  padding: 0.3rem 2rem;
  border-radius: 0.4rem;
  font-size: 1.1rem;
}
.navOptions{
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap:1.3rem
}

/*!Landing main section */

.imageContainer{
  display: flex;
  padding-inline: 2rem;
  height: 80vh;
  justify-content: space-between;
  align-items: center;
}

.imageContainer .leftContainer{
 display: flex;
 flex-direction: column;
 gap: 1.5rem;
 font-size: 1.8rem;
}
.imageContainer .rightContainer img{
  height: 75vh;
  width: auto;
}

.leftContainer .leftPara{
  font-size: 1.4rem;
  letter-spacing: 1px;
  opacity: 0.8;
}

.getStartedBtn{
  text-decoration: none;
  background-color: #D97500;
  color: white;
  border-radius: 0.5rem;
  padding: 0.6rem 1rem;
  font-size: 1.2rem;
  font-weight: bold;

}